<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About</title>
</head>
<body>
    <div class="motherdiv">
        <div class="logodiv">
            <img class="image" width="500" src="images/logo 1.PNG" alt="">
        </div>
        <div class="bodydiv">
            <h1><strong>CLOSERS WORLD</strong></h1>
            <p>Closers World is suited for anyone who wants to get more out of life and business. Individuals, proffesionals of different fields, and anyone else who has a dream that needs to be brought to life in our day to day life. With 24/7 access, users can leverage the expertise of closers world for their business. Courses on prospecting, sales, negotiation, closing, money and finances, and motivation are just some of what’s offered inside this training platform.</p>
        </div>
    </div>
    
</body>
</html>