<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="growth.css">
    <title>Growing Business in Tough Times</title>
</head>
<body>
    <div class="motherdiv">
        <div class="topdiv">
            <h1>HOW TO GROW A BUSINESS IN TOUGH TIMES</h1>
            <p>Even in a tough economy, you don’t start a business you ARE a business. While most businesses fail, especially at times like these, this training will help you create a successful multi-million-dollar business that will give you the life you want. Make no mistake about it, building a business is not easy, but when you have the right tools and information, it becomes a whole lot easier.
                
                <br>What you will get:
                <br>The 12 commandments of business
                <br>Start your own 10x “clock”
                <br>Tips to grow a business fast even in recession
                <br>The #1 reason why most businesses fail
                <br>Recognize exactly what you must change</p>
        </div>
        <div class="imagediv">
            <img width="500" src="images/business growing.jpg" alt="">
        </div>
    </div>
    
</body>
</html>