{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Closers World</title>
</head>
<body>
    <div class="buttondiv">
        <button id="uno"><strong>CW</strong></button>
        <button id="twa"><strong>CLOSERS WORLD</strong></button>
    </div>
    <div class="navdiv">
        <ul id="items">
            <li class="one">What We Do
                <ul>
                    <a href="about.html"><li>About</li></a>
                    <a href="skills.html"><li>Sales Skills Assesment</li></a>
                </ul>
            </li>
            <li class="one">Sales Training
                <ul>
                    <a href="manage.html"><li>Manage Team</li></a>
                    <a href="work.html"><li>Work From Home</li></a>
                    <a href="growth.html"><li>Growing Business In Tough Times</li></a>
                </ul>
            </li>
            <li class="one">Products
                <ul>
                    <a href="site.html"><li>On Site Training</li></a>
                    <a href="tele.html"><li>Telemarketing Skills Training</li></a>
                </ul>
            </li>
            <li class="one">Contact
                <ul>
                    <li>+254 702 576 995</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="flexdiv">
      <div class="paradiv">
        <p>YOU WANT TO BE A BETTER SALES PERSON? OUR EXPERTISE WILL HELP YOU CLOSE MORE SALES.</p>
        <a href="access.html"><button id="doe">ACCESS NOW</button></a>
      </div>
      <div class="videodiv">
          <video width="400" controls>
              <source src="video/closer.mp4" type="video/mp4">
            </video>
      </div>
    </div>
    <script src="script.js"></script>
</body>
</html>