<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manage.css">
    <title>Manage Team</title>
</head>
<body>
    <div class="parentdiv">
        <div class="topdiv">
            <h1> How To Manage A Sales Team And Make It Better</h1>
            <p id="topp">If you're new to management, it can be a challenge. Fortunately, understanding how to manage a sales team isn't much different from managing any other team.
                <br>One of the most essential keys to your success as a sales manager is having the right team and processes in place. There will probably be some changes you'd like to make right off the bat.But before you start making changes, consider taking some time to assess the situation. 
                <br>At the same time, you can't be afraid to make necessary changes. Just keep in mind that your team members had a hand in developing the current process. The following tips will help you get your team members on board with any changes that need to be made and ensure that you get the most out of each team member.
            </p>
        </div>
        <div class="motherdiv1">
            <div class="honestdiv">
                <img width="400" src="images/honest.jpg" alt="">
                <p id="honestp"><span>Be open and honest</span>
                    <br>There are a number of subjects that require honest communication between you and your staff. Without clear communication and transparency, miscommunication and loss of trust are bound to follow.
                    
                    Avoid damaging your team's productivity by clearly communicating about:
                    
                    Team progress. Your team needs to know that they can trust you to keep them informed about what they need to do to get or stay on track. If someone in the team is slacking, a conversation is necessary. By having this kind of conversations before things go too far, you give them an opportunity to turn things around.</p>
            </div>
            <div class="teamdiv">
                <img width="400" src="images/team-player.jpg" alt="">
                <p id="teamp"><span>Be a team player</span>
                    <br> best way to earn your sales team’s respect is to be a team player. If you come down hard on your team all the time but don’t exemplify the work ethic you want them to have, they won’t be motivated to work for you. 
                    
                    As the sales manager, you set the standard.</p>
            </div>
            <div class="availablediv">
                <img width="400" src="images/available.jpg" alt="">
                <p id="availablep"><span>Be available</span>
                    <br>All sales representatives look to their manager for assistance and advice. 
                    
                    When you work together with your team—pitching ideas, mastering new technology, and providing feedback—overall team productivity increases.
                    
                    As a sales manager, you should organize group meetings as often as possible and also make time to be available for individual mentoring and help.</p>
            </div>
        </div>
        <div class="motherdiv2">
            <div class="bardiv">
                <img class="image" width="400" src="images/bar.jpg" alt="">
                <p id="barp"><span>Set the bar</span>
                    <br>Your team needs to know where to aim. As the sales manager, it's your job to set the bar. SMART goals are one way to be clear about your expectations and measure your team's performance. 
                    
                    Setting a goal that is SMART means it has to be specific, measurable, achievable, relevant, and time-bound. </p>
            </div>
            <div class="rewarddiv">
                <img width="400" src="images/reward.jpg" alt="">
                <p id="rewardp"><span>Reward good work</span>
                    <br>Incentives are not only a great way to congratulate someone for a job well done. They also motivate your team.Look for opportunities to reward your team as a whole and individual team members.
                    
                    Here are a few ideas:
                    
                    Gift cards,
                    Concert tickets,
                    Team outings,
                    Bonuses, and
                    Extra vacation time.</p>
            </div>
        </div>
    </div>
    
</body>
</html>