<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css">
    <title>On Site Training</title>
</head>
<body>
    <div class="motherdiv">
        <div class="imagediv">
            <img width="500" src="images/business.jpg" alt="">
        </div>
       <div class="listdiv">
           <h1>Benefits of onsite training...</h1>
           <li>Everyone hears the same message.</li>
           <li>People have a shared understanding of course concepts.</li>
           <li>Examples and activities focus on the same work place.</li>
           <li>Participants have an oppotunity to interact with their co-workers in a different way.</li>
           <li>Cost is lower on per-participant basis.</li>
       </div>
       
    </div>
    
</body>
</html>