<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="skills.css">
    <title>Sales Skills Assesment</title>
</head>
<body>
    <div>
        <h1>How to assess sales representatives</h1>
        <p>
            Use the following exercises to help you assess sales skills in your interviews with sales representative candidates. Feel free to modify them to suit your company’s specific needs.
            
            
            
            What do salespeople do?


            <br >Salespeople vary in roles and tasks – from entry-level sales development representatives, to account executives who tend to have more years of experience. Regardless of their position, all salespeople share one common goal: to develop new business and revenue opportunities that support business growth.
            
            Good candidates for sales representative roles have excellent phone skills, time management abilities and an intrinsic motivation to win clients. They will also know how to close you, as an interviewer, by asking follow-up questions and being explicit about their interest in the next steps of the hiring process for the role.
            
           
           
           <br> Here are skills all successful salespeople share:
            
           <br> Communication (both verbal and written): This is key for any salesperson to promote your company’s products.
            Goal-setting: Strong candidates demonstrate that they’ve set and achieved goals, or sales quotas.
            Presentation: Inbound sales teams in particular rely on people with good presentation skills to pitch products.
            Research: People with strong research skills will show they know their potential client and can prospect well to create a strong outbound sales strategy.
            
            
            
           <br> What is a skills assessment?
            
           
           
            <br> skills assessment
           
           
            <br> Exercise (verbal): Sell me a product that you used to sell in a previous role/ Sell me on a hobby or product that you enjoy.
            
            Exercise (written): You work as a sales representative at a sparkling water retailer. You’ve been emailing with an office client prospect who seems interested in your product. Here’s the latest email they sent you. How would you respond?
            
            <br> [Candidate_name],
            
            Thank you for the free trial of your flavored sparkling water.
            
            Our office manager and employees really enjoyed the product and are interested in switching over to your brand, but the price is too high and exceeds our budget.
            
            Thanks for the free samples, and good luck.
            
            Sincerely,
            
            Jane Doe
            
           
           
           
            <br> What to look for: For the verbal communication skills assessment, look for candidates who take a consultative, rather than persuasive approach to selling. Candidates who engage you in a discussion about your needs, and how the product they’re selling can help you stand out.
            
            For the written communication skills assessment, look for candidates who respond clearly and turn the email exchange into an opportunity. A response along the lines of: “I’m pleased that you liked the product. I would like to try and find a solution for you — would you be interested in keeping the lines of communication between us open?” is good.
            
           
           
           <br> Red flags: In the verbal exercise, if candidates run out of steam, or can’t clearly sell their product, they may struggle to sell yours, or keep prospects engaged. For the written exercise, candidates who fail to convert the response into an opportunity, or have grammatical errors in their reply back may not be able to pitch your products over the web or represent your company in the best light.
            
            Evaluate candidates quickly and fairly
            Workable’s new pre-employment tests are backed by science and delivered directly through our platform. Hire the best candidates without ever leaving your ATS!
            
            Try our assessments
            
            
            
           <br> Goal-setting skills assessment
            
            
            Exercise: You’re in the last week of the quarter and you are $5,000 short of your established goal. You have about $15,000 in the sales pipeline. What would you do by end of quarter to meet your goal?
            
            What to look for: Candidates with creative and proactive approaches to meeting goals will stand out. Out-of-the box answers, like “I’ll go through my current book of pipeline and see if there are any incentives to offer them to close the deal before the quarter ends,” or “I’ll contact people who’ve bought the product in the past, and those who I’ve had a good relationships with,” will stand out.
            
            Red flags: Candidates who are nonchalant about meeting sales quotas, or say that they will “hope for the best,” may not be proactive enough to meet business targets.
            
           
           
            <br> Presentation skills assessment
            
            
            Exercise: You are on a remote conference call with an international prospect and are trying to present the benefits of your product. But you can’t understand what the individual is saying because of his/her thick accent. The prospective customer also cannot understand you because of your accent. What would you do?
            
            What to look for: Part of being a good presenter is thinking on your feet. Candidates who offer a solution to the communication issue – i.e., move the conversation to a text-based platform, offer to provide an email Q & A or identify a salesperson who can speak to the individual in their native language will stand out for their ability to present well.
            
            Red flags: In sales, engaging the prospective customer is key to any winning strategy. Choosing to continue the presentation, or providing no solution to deal with the communication issue may hurt your business.
            
            
            
           <br>  Research skills assessment
           
           
            Exercise: Suppose you are hired as a sales development representative for a company that creates a POS system for sales in retail industries. What companies would you prospect into? How would you find those companies? Who would you reach out to, and what would your opening call/message be?
            
            What to look for: This exercise tests sales aptitude in terms of candidates’ ability to research useful market information to create an outbound sales strategy. Candidates should show that they understand the prime market for the product — restaurants/retailers, in this case. They might take it a step further and identify up-and-coming businesses that could be in the market for a POS system.
            
            Red flags: Some red flags for this exercise would include targeting the wrong industry, or not being creative enough in finding the right businesses to market this product to.</p>
    </div>
    
</body>
</html>