<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="work.css">
    <title>Work From Home</title>
</head>
<body>
    <div class="parentdiv">
        <div class="motherdiv">
            <div class="imagediv">
                <img width="500" src="images/workhome.jpg" alt="">
                <div class="paradiv">
                  <p><span>HOW TO WORK FROM HOME</span>
                     <br>A timely program that helps you learn to work from home and thrive. If you’ve recently been ordered to stay away from the office, you need strategies and tactics to be productive at home + new ideas for home business startups! The fact is, working from home is growing more popular and those that k ow how to do it right will be ahead of the game.</p>
                    
                   <br> What you will get:
                    <li> for productivity while at home</li>
                    <li> home-based business ideas</li>
                    <li> How to know if you shouldn’t work from home</li>
                    <li> Closers World personal work-from-home strategies</li>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>