*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

h1{
    color:red;
    margin-top: 40px;
    align-items: center;
    justify-items: center;
    float: center;
}

p{
    margin-top: 50px;
    color: green;
    font-family: sans-serif;
    word-spacing: 1.5px;
}